@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
  background-color: #EFE2BA;
  height: auto;
  margin: 0;
  text-decoration: none;
  color: #4056A1;
  font-family: "Shadows Into Light", cursive;
}

p{
  font-size: larger;
}
.App-link {
  color: #61dafb;
}

a:link {
  text-decoration: none;
  color: #4056A1
}

a:visited {
  text-decoration: none;
  color: #4056A1
}

a:hover {
  text-decoration: underline;
  color: #4056A1
}

a:active {
  text-decoration: underline;
  color: #4056A1
}
button {
  background-color: white;
  color: #4056A1;
  font-family: "Shadows Into Light", cursive;
  border: none;
  border-radius: 80%;
}

button:hover{
  cursor: pointer;
  height: 40px;
  width: 40px;
}

input{
  font-family: "Shadows Into Light", cursive;
  border-radius: 10%;
  border: 1px, groove, #4056A1;
}

select{
    font-family: "Shadows Into Light", cursive;
    border-radius: 10%;
    border: 1px, groove, #4056A1;
}

@media only screen and (max-width: 768px) {
  p{
    font-size: medium;
  }
  h2{
    font-size: large;
  }
}