.main_container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-image: url("./pngtree-restaurant-menu-background-material-image_172144.jpeg")  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    height: 100vh;
    margin: 0%;
    padding: 0px;
}


.main_title{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding:0px;
    margin: 0px;
    width: 100%;
    height: 50px;
}

.intro {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;    
    margin: 0;
    width: 600px;
}

.questions{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
    width: 600px;
}
